<a href="https://colab.research.google.com/github/TALoseva/Tasia/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary

1. (зад 1) Подсчет частоты слов: Напишите функцию, которая принимает строку и возвращает словарь, где ключи — это слова, а значения — их частота в строке.

In [ ]:
def word_frequency(text):
    words = text.split()

    frequency = {}

    for word in words:
        word = word.lower()
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1

    return frequency

text = "Hello world hello Python world"
print(word_frequency(text))

2. (зад 5) Максимальное значение: Напишите функцию, которая находит ключ с максимальным значением в словаре.

In [ ]:
def key_with_max_value(dictionary):
    if not dictionary:
        return None

    max_key = None
    max_value = -100000

    for key, value in dictionary.items():
        if value > max_value:
            max_value = value
            max_key = key

    return max_key

my_dict = {'x': 100, 'y': 200, 'z': 50}
print(key_with_max_value(my_dict))

3. (зад 8) Группировка по длине ключей: Напишите функцию, которая группирует ключи словаря по их длине и возвращает словарь, где ключи - это длины, а значения - списки ключей соответствующей длины.

In [ ]:
def group_keys_by_length(dictionary):
    result = {}
    for key in dictionary.keys():
        length = len(key)
        if length not in result:
            result[length] = []
        result[length].append(key)
    return result

my_dict = {
    "a": 1,
    "bb": 2,
    "ccc": 3,
    "dd": 4,
    "e": 5
}

print(group_keys_by_length(my_dict))

4. (зад 14) Вложенный словарь: Напишите функцию, которая создает вложенный словарь, где первый уровень ключей — это буквы алфавита, а второй уровень — числа от 1 до 10.

In [ ]:
def create_nested_dict():
    nested_dict = {}
    for letter in 'abcdefghijklmnopqrstuvwxyz':  # Перебираем буквы алфавита
        nested_dict[letter] = {num: None for num in range(1, 11)}  # Создаем вложенный словарь с числами от 1 до 10
    return nested_dict

result = create_nested_dict()
print(result)

5. (зад 17) Ключи с четными значениями: Напишите функцию, которая возвращает список ключей, связанных с четными значениями.

In [ ]:
def get_even_value_keys(input_dict):
    even_keys = [key for key, value in input_dict.items() if isinstance(value, int) and value % 2 == 0]
    return even_keys

sample_dict = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
    'e': 5,
    'f': 6
}

result = get_even_value_keys(sample_dict)
print(result)

6. (зад 20) Пересечение словарей: Напишите функцию, которая принимает два словаря и возвращает новый словарь, содержащий только те пары ключ-значение, которые присутствуют в обоих словарях.

In [ ]:
def intersect_dicts(dict1, dict2):
    intersection = {key: dict1[key] for key in dict1 if key in dict2 and dict1[key] == dict2[key]}
    return intersection

dict_a = {
    'a': 1,
    'b': 2,
    'c': 3,
}

dict_b = {
    'b': 2,
    'c': 4,
    'd': 5,
}

result = intersect_dicts(dict_a, dict_b)
print(result)

7. (зад 23) Преобразование значений: Напишите функцию, которая преобразует все значения в словаре в строки.

In [ ]:
def convert_values_to_strings(input_dict):
    return {key: str(value) for key, value in input_dict.items()}

example_dict = {
    'a': 1,
    'b': 2.5,
    'c': True,
    'd': None,
}

result = convert_values_to_strings(example_dict)
print(result)

8. (зад 26)Группировка по типам значений: Напишите функцию, которая группирует ключи словаря по типам их значений (например, int, str, list)

In [ ]:
def group_keys_by_value_type(input_dict):
    grouped = {}
    for key, value in input_dict.items():
        value_type = type(value)
        if value_type not in grouped:
            grouped[value_type] = []
        grouped[value_type].append(key)
    return grouped

example_dict = {
    'a': 1,
    'b': 'hello',
    'c': [1, 2, 3],
    'd': 2.5,
    'e': True,
    'f': None,
    'g': 'world',
}

result = group_keys_by_value_type(example_dict)
print(result)

9. (зад 28) Частота значений: Напишите функцию, которая подсчитывает частоту каждого значения в словаре.

In [ ]:
def count_value_frequency(input_dict):
    frequency = {}

    for value in input_dict.values():
        if value in frequency:
            frequency[value] += 1
        else:
            frequency[value] = 1

    return frequency

example_dict = {
    'a': 1,
    'b': 2,
    'c': 1,
    'd': 3,
    'e': 2,
    'f': 1,
}

result = count_value_frequency(example_dict)
print(result)

10. (зпд 29) Ключи с палиндромами: Напишите функцию, которая возвращает список ключей, связанных со значениями-палиндромами.

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

def keys_with_palindrome_values(d):
    return [key for key, value in d.items() if is_palindrome(value)]

example_dict = {
    'key1': 'level',
    'key2': 'hello',
    'key3': 'racecar',
    'key4': 'world'
}

result = keys_with_palindrome_values(example_dict)
print(result)

Множества

1. (зад 1) Создание множества из списка: Напишите функцию, которая принимает список и возвращает множество, содержащее уникальные элементы списка.

In [ ]:
def unique_elements(input_list):
    return set(input_list)

example_list = [1, 2, 2, 3, 4, 4, 5]
result = unique_elements(example_list)
print(result)

2. (зад 3)Пересечение множеств: Напишите функцию, которая принимает два множества и возвращает их пересечение.

In [ ]:
def intersection_of_sets(set1, set2):
    return set1 & set2

set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
result = intersection_of_sets(set_a, set_b)
print(result)

3. (зад 6)Симметрическая разность: Напишите функцию, которая принимает два множества и возвращает их симметрическую разность.

In [ ]:
def symmetric_difference_of_sets(set1, set2):
    result = set()

    for item in set1:
        if item not in set2:
            result.add(item)

    for item in set2:
        if item not in set1:
            result.add(item)

    return result

set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
result = symmetric_difference_of_sets(set_a, set_b)
print(result)

{1, 2, 3, 6, 7, 8}

4. (зад 11) Элементы, встречающиеся только в одном множестве: Напишите функцию, которая находит элементы, которые есть только в одном из двух множеств.

In [ ]:
def unique_elements(set1, set2):
    result = set()

    for item in set1:
        if item not in set2:
            result.add(item)

    for item in set2:
        if item not in set1:
            result.add(item)

    return result

set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
result = unique_elements(set_a, set_b)
print(result)

5. (зад 18) Сортировка множества: Напишите функцию, которая преобразует множество в отсортированный список.

In [ ]:
def sorted_set_to_list(input_set):
    input_list = list(input_set)

    for i in range(len(input_list)):
        for j in range(0, len(input_list) - i - 1):
            if input_list[j] > input_list[j + 1]:
                input_list[j], input_list[j + 1] = input_list[j + 1], input_list[j]

    return input_list

my_set = {5, 2, 9, 1, 5, 6}
sorted_list = sorted_set_to_list(my_set)

6. (зад 22) Разбиение множества: Напишите функцию, которая разбивает множество на два: одно с четными числами, другое с нечетными.

In [ ]:
def split_set(input_set):
    even_set = set()  # Множество для четных чисел
    odd_set = set()   # Множество для нечетных чисел

    for number in input_set:
        if number % 2 == 0:
            even_set.add(number)
        else:
            odd_set.add(number)

    return even_set, odd_set

my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
even_numbers, odd_numbers = split_set(my_set)

print("Четные числа:", even_numbers)
print("Нечетные числа:", odd_numbers)

7. (зад 27) Объединение с сохранением порядка: Напишите функцию, которая объединяет два множества и возвращает результат в виде отсортированного списка.

In [ ]:
def union_with_order(set1, set2):
    combined = []  # Список для хранения объединенных элементов
    seen = {}      # Словарь для отслеживания уникальных элементов

    for item in set1:
        if item not in seen:
            combined.append(item)
            seen[item] = True

    for item in set2:
        if item not in seen:
            combined.append(item)
            seen[item] = True

    sorted_combined = []

    while combined:
        smallest = combined[0]
        for item in combined:
            if item < smallest:
                smallest = item
        sorted_combined.append(smallest)
        combined.remove(smallest)

    return sorted_combined

set1 = {3, 1, 4}
set2 = {4, 5, 2}

result = union_with_order(set1, set2)
print("Результат объединения:", result)

8. (зад 28) Разделение на группы: Напишите функцию, которая разделяет множество строк на две группы: строки с четной длиной и строки с нечетной длиной.

In [ ]:
def split_strings_by_length(strings):
    even_length_group = []  # Список для строк с четной длиной
    odd_length_group = []   # Список для строк с нечетной длиной

    for string in strings:
        length = 0  # Счетчик длины строки
        for char in string:
            length += 1

        if length % 2 == 0:
            even_length_group.append(string)
        else:
            odd_length_group.append(string)

    return even_length_group, odd_length_group

strings = {"hello", "world", "python", "is", "fun"}
even_group, odd_group = split_strings_by_length(strings)

print("Строки с четной длиной:", even_group)
print("Строки с нечетной длиной:", odd_group)

9. (зад 30) Проверка на взаимоисключающие множества: Напишите функцию, которая проверяет, являются ли два множества взаимоисключающими (т.е. не имеют общих элементов).

In [ ]:
def are_disjoint_sets(set1, set2):
    list1 = list(set1)
    list2 = list(set2)

    for element1 in list1:
        for element2 in list2:
            if element1 == element2:
                return False

    return True

set_a = {1, 2, 3}
set_b = {4, 5, 6}
set_c = {3, 7, 8}

print(are_disjoint_sets(set_a, set_b))
print(are_disjoint_sets(set_a, set_c))

10. (зад 29) Поиск уникальных символов: Напишите функцию, которая находит уникальные символы в строке с помощью множества.

In [ ]:
def find_unique_characters(input_string):
    unique_chars = []  # Список для хранения уникальных символов
    seen_chars = []    # Список для хранения уже встреченных символов

    for char in input_string:
        if char not in seen_chars:
            seen_chars.append(char)
            unique_chars.append(char)

    return ''.join(unique_chars)

input_str = "hello world"
unique_characters = find_unique_characters(input_str)
print(unique_characters)

Tuple

1. (зад 1) Создание кортежа из списка: Напишите функцию, которая принимает список и возвращает кортеж, содержащий те же элементы.

In [ ]:
def list_to_tuple(input_list):
    result_tuple = ()

    for item in input_list:
        result_tuple += (item,)

    return result_tuple

input_list = [1, 2, 3, 4, 5]
result = list_to_tuple(input_list)
print(result)

2. (зад 4) Индекс первого вхождения: Напишите функцию, которая находит индекс первого вхождения заданного элемента в кортеже.

In [ ]:
def find_first_occurrence(tup, element):
    for index, value in enumerate(tup):
        if value == element:
            return index
    return -1

my_tuple = (10, 20, 30, 40, 20)
element_to_find = 20
result = find_first_occurrence(my_tuple, element_to_find)
print(result)

3. (зад 8) Сортировка кортежа: Напишите функцию, которая возвращает отсортированный список на основе элементов кортежа.

In [ ]:
def sort_tuple(tup):
    lst = list(tup)

    n = len(lst)
    for i in range(n):
        for j in range(0, n-i-1):
            if lst[j] > lst[j+1]:
                lst[j], lst[j+1] = lst[j+1], lst[j]

    return lst

my_tuple = (5, 2, 9, 1, 5, 6)
sorted_list = sort_tuple(my_tuple)
print(sorted_list)

4. (зад 12) Конкатенация кортежей: Напишите функцию, которая принимает список кортежей и возвращает их конкатенацию в один кортеж.

In [ ]:
def concatenate_tuples(tuples_list):
    result = ()

    for tup in tuples_list:
        for item in tup:
            result += (item,)

    return result

my_tuples = ((1, 2), (3, 4), (5,))
concatenated_tuple = concatenate_tuples(my_tuples)
print(concatenated_tuple)

5. (зад 19) Кортеж из диапазона: Напишите функцию, которая создает кортеж из чисел в заданном диапазоне.

In [ ]:
def tuple_from_range(start, end):
    result = ()

    for num in range(start, end):
        result += (num,)

    return result

start = 1
end = 6
result_tuple = tuple_from_range(start, end)
print(result_tuple)

6. (зад 21) Вложенные кортежи: Напишите функцию, которая создает вложенный кортеж, где первый уровень — это буквы алфавита, а второй уровень — числа от 1 до 5.

In [ ]:
def nested_tuples():
    result = ()

    letters = ['a', 'b', 'c', 'd', 'e']

    for letter in letters:
        inner_tuple = ()
        number = 1

        while number <= 5:
            inner_tuple += (number,)
            number += 1

        result += (letter, inner_tuple)

    return result

nested_tuple_result = nested_tuples()
print(nested_tuple_result)

7. (зад 22) Развертывание вложенного кортежа: Напишите функцию, которая разворачивает вложенный кортеж в плоский кортеж.

In [ ]:
def flatten_tuple(nested_tuple):
    flat_tuple = ()

    for item in nested_tuple:
        if isinstance(item, tuple):
            flat_tuple += flatten_tuple(item)
        else:
            flat_tuple += (item,)

    return flat_tuple

nested_tuple = (1, (2, 3), (4, (5, 6)), 7)
flat_tuple_result = flatten_tuple(nested_tuple)
print(flat_tuple_result)

8. (зад 25) Перевод строки в кортеж чисел: Напишите функцию, которая преобразует строку чисел, разделенных запятыми, в кортеж чисел.

In [ ]:
def string_to_tuple_of_numbers(input_string):
    numbers_tuple = ()
    number = ''

    for char in input_string:
        if char.isdigit():
            number += char
        elif char == ',':
            if number:
                numbers_tuple += (int(number),)
                number = ''
    if number:
        numbers_tuple += (int(number),)

    return numbers_tuple

input_string = "1,2,3,4,5"
result = string_to_tuple_of_numbers(input_string)
print(result)

9. (зад 29) Кортеж с палиндромами: Напишите функцию, которая создает кортеж, содержащий только строки-палиндромы из заданного списка строк.

In [ ]:
def is_palindrome(s):
    cleaned_string = ''
    for char in s:
        if char != ' ':
            cleaned_string += char.lower()

    left = 0
    right = len(cleaned_string) - 1
    while left < right:
        if cleaned_string[left] != cleaned_string[right]:
            return False
        left += 1
        right -= 1

    return True

def palindromes_tuple(strings):
    palindromes = ()

    for string in strings:
        if is_palindrome(string):
            palindromes += (string,)

    return palindromes

input_strings = ["level", "hello", "world", "radar", "python", "madam"]
result = palindromes_tuple(input_strings)
print(result)

10. (зад 30) Группировка элементов: Напишите функцию, которая группирует элементы кортежа по их типам (например, int, str, float) и возвращает словарь, где ключи — это типы, а значения — списки элементов.

In [ ]:
def group_by_type(tup):
    grouped = {}

    for element in tup:
        element_type = type(element)

        if element_type not in grouped:
            grouped[element_type] = []

        grouped[element_type].append(element)

    return grouped

input_tuple = (1, "hello", 3.14, 2, "world", True, 5.0, False)
result = group_by_type(input_tuple)
print(result)